.categorieen-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.categorieen-title{
    font-family: 'Inter', sans-serif;
    width: 30%;
    font-weight: 500;
    font-size: 40px;


}

.categorieen-title-container{
    padding-left: 250px;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    .categorieen-title-container {
        padding-left: 0;
        text-align: center;
    }
}

.categorie-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;

}

.categorie-text-h3{
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;

}

.categorie-text-a{
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    max-width: 360px;

    width: 100%;
    text-decoration: none;
  
    padding: 10px;
    margin-top: -10px;


}

.categorie-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.categorie-link{
    text-decoration: none;
}

.categorieen-header-img {
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Maintains the aspect ratio */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}
.categorieen-header{
    margin-top: 10px;
}

@media (max-width: 768px) {
    .categorieen-header-img {
      object-position: center; /* Centers the image focus */
    }
  }
  
  @media (max-width: 480px) {
    .categorieen-header-img {
      object-position: top; /* Focuses on the top part of the image */
    }
  }
  